# Exercice 2 - My IBM first Notebook
## Final Project : Introduction to datascience

# Exercice 3 - Introduction
This notebook is an introduction to the basic concepts of data science. It covers languages, libraries, tools, and includes some practical examples to illustrate the fundamental concepts.

# Exercise 4 - Data Science Languages
The languages commonly used in data science are:
- Python
- R
- SQL
- Julia
- Scala

# Exercise 5 - Data Science Libraries
The popular libraries in data science include:
- Pandas (Data manipulation)
- NumPy (Numerical computation)
- Matplotlib (Data visualization)
- Scikit-learn (Machine learning)
- TensorFlow (Deep learning)

# Exercise 6 - Data Science Tools Table
| Tool                | Usage                                   |
|---------------------|-----------------------------------------|
| Jupyter Notebook    | Interactive environment for coding      |
| Tableau             | Data visualization                      |
| Apache Spark        | Large-scale data processing             |
| Hadoop              | Storage and processing of massive data  |
| Power BI            | Data analysis and visualization         |

# Exercise 7 - Examples of Arithmetic Expressions  
Here are some examples of arithmetic expressions:  
- Addition: `5 + 3 = 8`  
- Subtraction: `10 - 4 = 6`  
- Multiplication: `7 * 2 = 14`  
- Division: `20 / 5 = 4`  
- Exponentiation: `2 ** 3 = 8`

# Exercise 8 - Multiply and Add Numbers  
## Example code to multiply and add

In [2]:

a = 5
b = 3
multiplication = a * b
addition = a + b

print(f"Multiplication of {a} and {b} : {multiplication}")
print(f"Addition of {a} and {b} : {addition}")

Multiplication of 5 and 3 : 15
Addition of 5 and 3 : 8

# Exercise 9 - Convert Minutes to Hours  
## Example code to convert 150 minutes to hours

In [4]:

minutes = 150
hours = minutes // 60
remaining_minutes = minutes % 60

print(f"{minutes} minutes is equivalent to {hours} hours and {remaining_minutes} minutes.")

150 minutes is equivalent to 2 hours and 30 minutes.

# Exercise 10 - Objectives  
The objectives of this project are:  
1. Understand the basics of data science.  
2. Explore the languages and tools used in this field.  
3. Apply arithmetic and programming concepts.  
4. Create a complete and structured Jupyter notebook.

# Exercise 11 - Author's Name  
**Author:** David TONON